<launch>

	<arg name="arg_x" default="0.00" />
	<arg name="arg_y" default="0.00" />
	<arg name="arg_z" default="0.00" />
	<arg name="arg_R" default="0.00" />
	<arg name="arg_P" default="0.00" />
	<arg name="arg_Y" default="0.00" />

	<!--Urdf file path-->
	<param name="robot_description" textfile="$(find car_urdf)/urdf/car_urdf.urdf"/>

	<!--spawn a empty gazebo world-->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
      <args name="world_name" value="$(find car_urdf)/worlds/mundo.sdf"/>
	</include>

	<!--spawn model-->
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-x $(arg arg_x) -y $(arg arg_y) -z $(arg arg_z) -Y $(arg arg_Y) -param robot_description -urdf -model car_urdf -J Rueda_izquierda_del_joint 0.0 -J Rueda_derecha_del_joint 0.0 -J Rueda_izquierda_tras_joint 0.0 -J Rueda_derecha_tras_joint 0.0 -J Waist_joint 0.0 -J Shoulder_joint 0.0 -J Elbow_joint 0.0 -J Wrist_Roll_joint 0.0 -J Wrist_pitch_joint 0.0 -J Rigth_gear_joint 0.0 -J Left_gear_joint 0.0 -J Left_arm_joint 0.0 -J Right_arm_joint 0.0 -J Left_Link_joint 0.0 -J Rigth_Link_joint 0.0"/>

	<!--Load and launch the joint trajectory controller-->
	<rosparam file ="$(find car_urdf)/config/joint_trajectory_controller.yaml" command="load"/>
	<node name= "controller_spawner" pkg= "controller_manager" type="spawner" respawn="false" output="screen" args= "robot_arm_controller gripper joint_state_controller"/>
	
	<!-- Robot State Publisher for TF of each joint: publishes all the current states of the joint, then RViz can visualize -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

	<!--Public joint-->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false" output="screen"/>
</launch>
